In [3]:
import pandas as pd
import ssl
import numpy as np

In [163]:
# Creates a dataframe similar to the arrest-data dataframe.
# Each letter ("a", "b", "c") represents a neighborhood.

dict_arrest = [
    {"Neighborhood" : "a"},
    {"Neighborhood" : "a"},
    {"Neighborhood" : "b"},
    {"Neighborhood" : "c"}
]

df_arrest = pd.DataFrame(dict_arrest)
df_arrest.head()

  Neighborhood
0            a
1            a
2            b
3            c

In [164]:
# Creates a series "a" that sorts the dataframe by letter and counts how many instances of that letter appear in the dataframe. 
a = df_arrest["Neighborhood"].value_counts()

# This sorted series can then be converted into a dataframe.
df_a = pd.DataFrame(a)
df_a = df_a.rename(columns = {'Neighborhood':'Count'}) #Renames the "Neighborhood" column to "Count"
df_a.head()

   Count
a      2
c      1
b      1

In [148]:
# However, we still need an index or ranking data for each letter. reset_index() allows us to create this index.
df_a  = df_a.reset_index().rename(columns = {"index":"Neighborhood"}) #Renames the "index" column to "Neighborhood".
df_a .head()

  Neighborhood  Count
0            a      2
1            c      1
2            b      1

In [216]:
# Creates a dataframe similar to the population-density dataframe.
dict_pop = [
    {"Neighborhood" : "a", "Population" : 100},
    {"Neighborhood" : "b", "Population" : 200},
    {"Neighborhood" : "c", "Population" : 300}
]

df_pop = pd.DataFrame(dict_pop)
df_pop.head()

  Neighborhood  Population
0            a         100
1            b         200
2            c         300

In [150]:
# Merge the two dataframes
df_merge = pd.merge(df_a, df_pop)
df_merge.head()

  Neighborhood  Count  Population
0            a      2         100
1            c      1         300
2            b      1         200

In [151]:
# Creates a new column "Rank" which divides 
df_merge["Rank"] = df_merge["Count"]/df_merge["Population"]
df_merge.head()

  Neighborhood  Count  Population      Rank
0            a      2         100  0.020000
1            c      1         300  0.003333
2            b      1         200  0.005000

In [153]:
# This process can be repeated for another database (like fire incident data)

In [155]:
# The index can also be shifted
df_merge.index = df_merge.index + 1
df_merge.head()

  Neighborhood  Count  Population      Rank
2            a      2         100  0.020000
3            c      1         300  0.003333
4            b      1         200  0.005000

In [7]:
#Function for the above steps

def makeDF(df1, neighborhood1, count1, df2, neighborhood2, count2, pop, index_increment): 
    
    # df1 and df2 are dataframes
    # neighborhood1 and neighborhood2 are the 'neighborhood' column titles
    # count1 and count2 are the count column titles
    #pop is the population dataframe
    # index_increment is the optional for changing the index
    
    # Makes adjustments to df1
    a = df1[neighborhood1].value_counts()
    df_a = pd.DataFrame(a)
    df_a = df_a.rename(columns = {neighborhood1 : count1})
    df_a  = df_a.reset_index().rename(columns = {"index" : "Neighborhood"})
    
    # Makes adjustments to df2
    b = df2[neighborhood2].value_counts()
    df_b = pd.DataFrame(b)
    df_b = df_b.rename(columns = {neighborhood2 : count2})
    df_b  = df_b.reset_index().rename(columns = {"index" : "Neighborhood"})
    
    #Makes adjustmets to pop
    c = population_records[["Neighborhood", "Pop. 2010"]]
    c["Pop. 2010"] = c["Pop. 2010"].str.replace(',', '')
    c["Pop. 2010"] = c["Pop. 2010"].astype(int)
    
    #Merges df1, df2, pop
    temp = pd.merge(df_a, df_b)
    df_merge = pd.merge(temp,c)
    
    df_merge["Rank"] = (df_merge[count1]/df_merge["Pop. 2010"] + df_merge[count2]/df_merge["Pop. 2010"]) / 2
    df_merge = df_merge.sort_values(by = ["Rank"])
    df_merge = df_merge.reset_index()
    df_merge.index = df_merge.index + index_increment
    
    return df_merge

In [8]:
arrest_records = pd.read_csv("arrest-data.csv")
fire_records = pd.read_csv("fire-incident-data.csv")
population_records = pd.read_csv("population-density.csv")

makeDF(arrest_records, "INCIDENTNEIGHBORHOOD", "Arrest Count", fire_records, "neighborhood", "Fire Count", population_records, 0).head(100)

/ihome/crc/install/python/miniconda3-3.7/lib/python3.7/site-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/ihome/crc/install/python/miniconda3-3.7/lib/python3.7/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,index,Neighborhood,Arrest Count,Fire Count,Pop. 2010,Rank
0,58,Squirrel Hill North,151,96,11363,0.010869
1,86,Swisshelm Park,20,11,1361,0.011389
2,87,Regent Square,19,6,928,0.013470
3,47,North Oakland,223,92,10551,0.014927
4,65,Stanton Heights,115,43,4601,0.017170
5,83,Central Northside,23,94,2923,0.020014
6,29,Squirrel Hill South,439,178,15110,0.020417
7,67,Morningside,111,26,3346,0.020472
8,85,New Homestead,22,20,990,0.021212
9,71,Lincoln Place,101,44,3227,0.022467
10,49,Point Breeze,184,57,5315,0.022672
11,64,Westwood,119,21,3066,0.022831
12,60,Banksville,141,49,4144,0.022925
13,22,Shadyside,540,125,13915,0.023895
14,41,Greenfield,279,82,7294,0.024746
15,88,Ridgemont,13,12,483,0.025880
16,70,Duquesne Heights,103,23,2425,0.025979
17,80,Oakwood,44,10,1027,0.026290
18,40,Highland Park,286,54,6395,0.026583
19,66,Upper Lawrenceville,113,35,2669,0.027726
20,78,Windgap,60,16,1369,0.027757
21,53,Overbrook,166,38,3644,0.027991
22,82,East Carnegie,27,6,570,0.028947
23,79,Summer Hill,45,16,1051,0.029020
24,38,Central Oakland,304,68,6086,0.030562
25,13,Brookline,693,127,13214,0.031028
26,61,Terrace Village,140,70,3228,0.032528
27,84,Chartiers City,23,11,477,0.035639
28,43,Central Lawrenceville,272,58,4482,0.036814
29,68,Friendship,107,25,1785,0.036975
...,...,...,...,...,...,...
59,6,East Liberty,995,148,5869,0.097376
60,81,St. Clair,30,11,209,0.098086
61,76,Hays,62,11,362,0.100829
62,11,Hazelwood,706,183,4317,0.102965
63,37,Beltzhoover,313,97,1925,0.106494
64,19,East Hills,580,121,3169,0.110603
65,74,Allegheny West,75,32,462,0.115801
66,10,Knoxville,752,116,3747,0.115826
67,57,California-Kirkbride,152,31,761,0.120237
68,25,Crawford-Roberts,470,77,2256,0.121232
69,23,Allentown,539,89,2500,0.125600
70,36,Bedford Dwellings,336,31,1202,0.152662
71,28,Larimer,452,102,1728,0.160301
72,1,South Side Flats,1953,184,6597,0.161968
73,34,Northview Heights,379,52,1214,0.177512
74,5,Homewood North,1036,145,3280,0.180030
75,20,Middle Hill,569,79,1707,0.189807
76,69,Esplen,105,15,301,0.199336
77,24,Fineview,496,38,1285,0.207782
78,72,Arlington Heights,100,9,244,0.223361
79,44,Strip District,269,35,616,0.246753
80,4,Homewood South,1138,128,2344,0.270051
81,31,Homewood West,417,43,818,0.281174
82,3,East Allegheny,1235,76,2136,0.306882
83,0,Central Business District,2131,186,3629,0.319234
84,55,West End,153,16,254,0.332677
85,16,Allegheny Center,651,46,933,0.373526
86,26,North Shore,470,48,303,0.854785
87,54,South Shore,158,18,19,4.631579
88,45,Chateau,262,34,11,13.454545