In [145]:
import pandas as pd
import ssl
import numpy as np

In [163]:
# Creates a dataframe similar to the arrest-data dataframe.
# Each letter ("a", "b", "c") represents a neighborhood.

dict_arrest = [
    {"Neighborhood" : "a"},
    {"Neighborhood" : "a"},
    {"Neighborhood" : "b"},
    {"Neighborhood" : "c"}
]

df_arrest = pd.DataFrame(dict_arrest)
df_arrest.head()

  Neighborhood
0            a
1            a
2            b
3            c

In [164]:
# Creates a series "a" that sorts the dataframe by letter and counts how many instances of that letter appear in the dataframe. 
a = df_arrest["Neighborhood"].value_counts()

# This sorted series can then be converted into a dataframe.
df_a = pd.DataFrame(a)
df_a = df_a.rename(columns = {'Neighborhood':'Count'}) #Renames the "Neighborhood" column to "Count"
df_a.head()

   Count
a      2
c      1
b      1

In [148]:
# However, we still need an index or ranking data for each letter. reset_index() allows us to create this index.
df_a  = df_a.reset_index().rename(columns = {"index":"Neighborhood"}) #Renames the "index" column to "Neighborhood".
df_a .head()

  Neighborhood  Count
0            a      2
1            c      1
2            b      1

In [216]:
# Creates a dataframe similar to the population-density dataframe.
dict_pop = [
    {"Neighborhood" : "a", "Population" : 100},
    {"Neighborhood" : "b", "Population" : 200},
    {"Neighborhood" : "c", "Population" : 300}
]

df_pop = pd.DataFrame(dict_pop)
df_pop.head()

  Neighborhood  Population
0            a         100
1            b         200
2            c         300

In [150]:
# Merge the two dataframes
df_merge = pd.merge(df_a, df_pop)
df_merge.head()

  Neighborhood  Count  Population
0            a      2         100
1            c      1         300
2            b      1         200

In [151]:
# Creates a new column "Rank" which divides 
df_merge["Rank"] = df_merge["Count"]/df_merge["Population"]
df_merge.head()

  Neighborhood  Count  Population      Rank
0            a      2         100  0.020000
1            c      1         300  0.003333
2            b      1         200  0.005000

In [153]:
# This process can be repeated for another database (like fire incident data)

In [155]:
# The index can also be shifted
df_merge.index = df_merge.index + 1
df_merge.head()

  Neighborhood  Count  Population      Rank
2            a      2         100  0.020000
3            c      1         300  0.003333
4            b      1         200  0.005000

In [215]:
#Function for the above steps

def makeDF(df1, neighborhood1, count1, df2, neighborhood2, count2, pop, index_increment): 
    
    # df1 and df2 are dataframes
    # neighborhood1 and neighborhood2 are the 'neighborhood' column titles
    # count1 and count2 are the count column titles
    #pop is the population dataframe
    # index_increment is the optional for changing the index
    
    # Makes adjustments to df1
    a = df1[neighborhood1].value_counts()
    df_a = pd.DataFrame(a)
    df_a = df_a.rename(columns = {neighborhood1 : count1})
    df_a  = df_a.reset_index().rename(columns = {"index" : "Neighborhood"})
    
    # Makes adjustments to df2
    b = df2[neighborhood2].value_counts()
    df_b = pd.DataFrame(b)
    df_b = df_b.rename(columns = {neighborhood2 : count2})
    df_b  = df_b.reset_index().rename(columns = {"index" : "Neighborhood"})
    
    #Makes adjustmets to pop
    c = population_records[["Neighborhood", "Pop. 2010"]]
    c["Pop. 2010"] = c["Pop. 2010"].str.replace(',', '')
    c["Pop. 2010"] = c["Pop. 2010"].astype(int)
    
    #Merges df1, df2, pop
    temp = pd.merge(df_a, df_b)
    df_merge = pd.merge(temp,c)
    
    df_merge["Rank"] = (df_merge["CountA"]/df_merge["Pop. 2010"] + df_merge["CountB"]/df_merge["Pop. 2010"]) / 2
    df_merge.index = df_merge.index + index_increment
    
    return df_merge

In [302]:
arrest_records = pd.read_csv("arrest-data.csv")
fire_records = pd.read_csv("fire-incident-data.csv")
population_records = pd.read_csv("population-density.csv")

a = pd.DataFrame(arrest_records["INCIDENTNEIGHBORHOOD"].value_counts())
a = a.rename(columns = {"INCIDENTNEIGHBORHOOD": "Arrest Count"})
a = a.reset_index().rename(columns = {"index":"Neighborhood"})

b = pd.DataFrame(fire_records["neighborhood"].value_counts())
b = b.rename(columns = {"neighborhood": "Fire Count"})
b = b.reset_index().rename(columns = {"index":"Neighborhood"})

c = population_records[["Neighborhood", "Pop. 2010"]]
c["Pop. 2010"] = c["Pop. 2010"].str.replace(',', '')
c["Pop. 2010"] = c["Pop. 2010"].astype(int)

print(a.head(10))
print(b.head(10))
print(c.head(10))

q = pd.merge(a,b)
r = pd.merge(q,c)

r["Rank"] = (r["Arrest Count"] / r["Pop. 2010"] + r["Fire Count"] / r["Pop. 2010"]) / 2
r = r.sort_values(by = ["Rank"])
r



#makeDF(arrest_records, "INCIDENTNEIGHBORHOOD", fire_records, "neighborhood", population_records, 0).head()

                Neighborhood  Arrest Count
0  Central Business District          2131
1           South Side Flats          1953
2                    Carrick          1313
3             East Allegheny          1235
4             Homewood South          1138
5             Homewood North          1036
6               East Liberty           995
7         Marshall-Shadeland           853
8           Mount Washington           838
9                      Bluff           783
                Neighborhood  Fire Count
0                    Carrick         220
1  Central Business District         186
2           South Side Flats         184
3                  Hazelwood         183
4        Squirrel Hill South         178
5               East Liberty         148
6   Lincoln-Lemington-Belmar         146
7           Mount Washington         145
8             Homewood North         145
9                   Sheraden         134
        Neighborhood  Pop. 2010
0   Allegheny Center        933
1     Allegheny West        462
2          Allentown       2500
3          Arlington       1869
4  Arlington Heights        244
5         Banksville       4144
6  Bedford Dwellings       1202
7          Beechview       7974
8        Beltzhoover       1925
9         Bloomfield       8442

/ihome/crc/install/python/miniconda3-3.7/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/ihome/crc/install/python/miniconda3-3.7/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

                 Neighborhood  Arrest Count  Fire Count  Pop. 2010       Rank
58        Squirrel Hill North           151          96      11363   0.010869
86             Swisshelm Park            20          11       1361   0.011389
87              Regent Square            19           6        928   0.013470
47              North Oakland           223          92      10551   0.014927
65            Stanton Heights           115          43       4601   0.017170
84          Central Northside            23          94       2923   0.020014
29        Squirrel Hill South           439         178      15110   0.020417
67                Morningside           111          26       3346   0.020472
85              New Homestead            22          20        990   0.021212
71              Lincoln Place           101          44       3227   0.022467
49               Point Breeze           184          57       5315   0.022672
64                   Westwood           119          21       3066   0.022831
60                 Banksville           141          49       4144   0.022925
22                  Shadyside           540         125      13915   0.023895
41                 Greenfield           279          82       7294   0.024746
88                  Ridgemont            13          12        483   0.025880
70           Duquesne Heights           103          23       2425   0.025979
80                    Oakwood            44          10       1027   0.026290
40              Highland Park           286          54       6395   0.026583
66        Upper Lawrenceville           113          35       2669   0.027726
78                    Windgap            60          16       1369   0.027757
53                  Overbrook           166          38       3644   0.027991
82              East Carnegie            27           6        570   0.028947
79                Summer Hill            45          16       1051   0.029020
38            Central Oakland           304          68       6086   0.030562
13                  Brookline           693         127      13214   0.031028
61            Terrace Village           140          70       3228   0.032528
83             Chartiers City            23          11        477   0.035639
43      Central Lawrenceville           272          58       4482   0.036814
68                 Friendship           107          25       1785   0.036975
59        Lower Lawrenceville           143          40       2341   0.039086
21                 Bloomfield           551         120       8442   0.039742
76                  Fairywood            62          18       1002   0.039920
51              South Oakland           173          67       2969   0.040418
62         Point Breeze North           135          35       2054   0.041383
50               West Oakland           178          46       2604   0.043011
39            Crafton Heights           293          66       3814   0.047063
73                Polish Hill            98          24       1274   0.047881
14                  Beechview           686         101       7974   0.049348
18           Brighton Heights           612         105       7247   0.049469
52                  Arlington           168          39       1869   0.055377
8            Mount Washington           838         145       8799   0.055859
46                  Troy Hill           258          54       2714   0.057480
27          South Side Slopes           458          71       4423   0.059801
32                Perry North           402          83       4050   0.059877
75                 Glen Hazel            69          17        716   0.060056
48                 Upper Hill           219          34       2057   0.061497
33                   Garfield           396          77       3675   0.064354
9                       Bluff           783          87       6600   0.065909
15                   Sheraden           660         134       5299   0.074920
2                     Carrick          1313         220      10113   0.075794
42                 Manchester           276          51       2130   0.076761
7          Marshall-Shadeland           853          97       6043   0.078603
35                    Elliott           349          46       2381   0.082948
12   Lincoln-Lemington-Belmar           697         146       4883   0.086320
63                    Bon Air           125          16        808   0.087252
17                Perry South           637         128       4145   0.092280
57              Spring Garden           152          19        884   0.096719
30      Spring Hill-City View           434          80       2648   0.097054
6                East Liberty           995         148       5869   0.097376
81                  St. Clair            30          11        209   0.098086
77                       Hays            62          11        362   0.100829
11                  Hazelwood           706         183       4317   0.102965
37                Beltzhoover           313          97       1925   0.106494
19                 East Hills           580         121       3169   0.110603
74             Allegheny West            75          32        462   0.115801
10                  Knoxville           752         116       3747   0.115826
56       California-Kirkbride           152          31        761   0.120237
26           Crawford-Roberts           470          77       2256   0.121232
23                  Allentown           539          89       2500   0.125600
36          Bedford Dwellings           336          31       1202   0.152662
28                    Larimer           452         102       1728   0.160301
1            South Side Flats          1953         184       6597   0.161968
34          Northview Heights           379          52       1214   0.177512
5              Homewood North          1036         145       3280   0.180030
20                Middle Hill           569          79       1707   0.189807
69                     Esplen           105          15        301   0.199336
24                   Fineview           496          38       1285   0.207782
72          Arlington Heights           100           9        244   0.223361
44             Strip District           269          35        616   0.246753
4              Homewood South          1138         128       2344   0.270051
31              Homewood West           417          43        818   0.281174
3              East Allegheny          1235          76       2136   0.306882
0   Central Business District          2131         186       3629   0.319234
55                   West End           153          16        254   0.332677
16           Allegheny Center           651          46        933   0.373526
25                North Shore           470          48        303   0.854785
54                South Shore           158          18         19   4.631579
45                    Chateau           262          34         11  13.454545